name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      # CHANGE: We added this to enter your backend folder
      - name: Install Dependencies
        working-directory: ./backend
        run: npm install

      # CHANGE: We added this to run the test inside the backend folder
      - name: Run Dummy Test
        working-directory: ./backend
        run: npm test

  deploy:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deployment
        # This sends the signal to Render if tests pass
        run: curl "${{ secrets.RENDER_DEPLOY_HOOK }}"
